TRACKING_API_URL="http://127.0.0.1/cotix/controller/tracking/api_tracking.php"
API_DNI_URL="https://api/v1/dni?numero="
API_RUC_URL="https://api/v1/ruc?numero="
IP_API_URL="https://api.ipify.org"
SUNAT_TIPO_CAMBIO_URL="https://api/v1/tipo-cambio-sunat"